.landing {
  width: 100%;
  height: 100vh;
}
.home {
  position: fixed;
  overflow: hidden;
  height: 100vh;
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: 83%;
    opacity: 0.5;
  }
  &__container {
    position: relative;
    height: calc(100vh - 3rem);
    align-content: center;
    row-gap: 3rem;
    max-width: 968px;
    margin-left: 1rem;
    margin-right: 1rem;
    display: grid;
    gap: 1.5rem;
  }
  &__data-subtitle,
  &__data-title,
  &__social-link,
  &__info {
    color: #fbfbfb;
  }
  &__data {
    font-family: "Jura", sans-serif;

    &-subtitle {
      display: block;
      font-weight: 600;
      margin-bottom: 0.75rem;
    }
    &-title {
      font-size: 2.5rem;
      font-weight: 500;
      margin-bottom: 2.5rem;
    }
  }
  &__social {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;

    &-link {
      font-size: 1.2rem;
      width: max-content;
    }
  }
  &__info {
    // background-color: rgba(175, 226, 236, 0.75);
    background-color: rgba(39, 39, 39, 0.691);
    display: flex;
    padding: 1.5rem 1rem;
    align-items: center;
    column-gap: 0.5rem;
    position: absolute;
    right: 0;
    bottom: -1rem;
    width: 228px;
    font-family: "Jura", sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }

    &__absolute-button {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: none;
      border: none;
      cursor: pointer;
    }

    &-title {
      display: block;
      font-size: 0.813rem;
      font-weight: 600;
      margin-bottom: 0.75rem;
    }
    &-button {
      font-size: 0.75rem;
    }
    &-overlay {
      overflow: hidden;
    }
    &-img {
      max-width: 145px;
      transition: 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
.button {
  display: inline-block;
  background-color: rgba(255, 0, 0, 0.691);
  color: #fbfbfb;
  padding: 1rem 2rem;
  font-weight: 600;
  transition: 0.3s;

  &:hover {
    background-color: red;
    color: #fbfbfb;
  }

  &--flex {
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
  }
  &--link {
    background: none;
    padding: 0;

    &:hover {
      background: none;
    }
  }
}
@media screen and (max-width: 340px) {
  .home {
    &__info {
      max-width: 190px;
      padding: 1rem;
    }
  }
}
@media screen and (min-width: 768px) {
  .home {
    &__container {
      height: 100vh;
      grid-template-rows: 1.8fr 0.5fr;
    }
    &__data {
      align-self: center;
    }
    &__social {
      flex-direction: row;
      align-self: flex-end;
      margin-bottom: 3rem;
      column-gap: 2.5rem;
    }
    &__info {
      bottom: 3rem;
      right: 1rem;
    }
    &-button {
      font-size: 2.5;
    }
  }
}
@media screen and (min-width: 968px) {
  .home__data-title {
    font-size: 4rem;
  }
  .home__info-title {
    font-size: 0.875rem;
  }
  .home-button {
    font-size: 0.813rem;
  }
}
@media screen and (min-width: 1024px) {
  .home {
    &__container {
      margin-left: auto;
      margin-right: auto;
      grid-template-rows: 2fr 0.5fr;
    }
    &__info {
      width: 328px;
      grid-template-columns: 1fr 2fr;
      column-gap: 2rem;

      &-title {
        font-size: var(--normal-font-size);
      }
      &-img {
        width: 240px;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1024px;
  }
}
/* horizontal scroll items  */
.container {
  margin-top: 200px;
  margin-left: 200px;
}

.container__item {
  position: relative;
  width: 540px;
  height: 360px;
  margin: 50px 500px 20px 80px;
  border-radius: 2rem;
}

.container__item-header h1 {
  position: relative;
  top: 40px;
  left: 0;
  right: 0;
  width: 600px;
  height: 360px;
  font-size: 100px !important;
  font-weight: bolder;
  font-family: "Krona One", sans-serif;
}

.container__item h1 {
  position: absolute;
  color: #fff;
  font-weight: lighter;
  font-size: 64px;
}

.container__item-title a {
  color: #fff;
  font-family: "Jura", sans-serif;
  text-decoration: none;
  transition: all 0.3s ease;
}

.container__item-1 {
  background: url(/assets/images/img-one.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.container__item-2 {
  background: url(/assets/images/img-two.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.container__item-3 {
  background: url(/assets/images/img-three.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.container__item-4 {
  background: url(/assets/images/img-four.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.container__item-5 {
  background: url(/assets/images/img-five.jpg) no-repeat 50% 50%;
  background-size: cover;
  margin-right: 25em !important;
}
.container__item-1 h1,
.container__item-3 h1,
.container__item-5 h1 {
  bottom: 0;
  right: -60px;
}
.container__item-2 h1,
.container__item-4 h1 {
  right: -60px;
}
@media (max-width: 900px) {
  .container__item {
    width: 300px;
    height: 200px;
    margin: 50px 100px 20px 80px;
  }

  .container__item-header h1 {
    font-size: 30px !important;
    left: -50%;
  }

  .container__item h1 {
    font-size: 40px;
    bottom: -20px;
  }
}
