.home {
  color: #fbfbfb;
  overflow: hidden;
  background: black;
  position: relative;
  &-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
    height: calc(100vh - 3rem);
    row-gap: 1rem;
  }

  &__data {
    align-self: center;
  }
  &__title {
    font-size: 2rem;
    margin-bottom: 2.5rem;

    &-color {
      color: lightcyan;
    }
  }
  &__social {
    display: flex;
    flex-direction: column;
    &-icon {
      width: max-content;
      margin-bottom: 1rem;
      font-size: 1.5rem;
      color: lightgreen;

      &:hover {
        color: lightcyan;
      }
    }
  }

  &__img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 295px;
  }
}
.button {
  display: inline-block;
  background-color: lightcyan;
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-weight: 600;
  border-radius: 0.5rem;

  &:hover {
    box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
  }
}
@media screen and (max-width: 768px) {
  .home {
    &__data {
      align-self: flex-end;
    }
    &__social {
      padding-top: 0;
      padding-bottom: 2.5rem;
      flex-direction: row;
      align-self: flex-end;

      &-icon {
        margin-bottom: 0;
        margin-right: 2rem;
      }
    }
    &__img {
      width: 457px;
      bottom: 15%;
    }
  }
}
@media screen and(min-width: 1024px) {
  .home-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home {
    &__img {
      right: 10%;
    }
  }
}
/* horizontal scroll items  */
.container {
  margin-top: 200px;
  margin-left: 200px;
}

.container__item {
  position: relative;
  width: 540px;
  height: 360px;
  margin: 50px 500px 20px 80px;
  border-radius: 2rem;
}

.container__item-header h1 {
  position: relative;
  top: 40px;
  left: 0;
  right: 0;
  width: 600px;
  height: 360px;
  font-size: 100px !important;
  font-weight: bolder;
  font-family: "Krona One", sans-serif;
}

.container__item h1 {
  position: absolute;
  color: #fff;
  font-weight: lighter;
  font-size: 64px;
}

.container__item-title a {
  color: #fff;
  font-family: "Jura", sans-serif;
  text-decoration: none;
  transition: all 0.3s ease;
}

.container__item-1 {
  background: url(/assets/images/img-one.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.container__item-2 {
  background: url(/assets/images/img-two.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.container__item-3 {
  background: url(/assets/images/img-three.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.container__item-4 {
  background: url(/assets/images/img-four.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.container__item-5 {
  background: url(/assets/images/img-five.jpg) no-repeat 50% 50%;
  background-size: cover;
  margin-right: 25em !important;
}
.container__item-1 h1,
.container__item-3 h1,
.container__item-5 h1 {
  bottom: 0;
  right: -60px;
}
.container__item-2 h1,
.container__item-4 h1 {
  right: -60px;
}
@media (max-width: 900px) {
  .container__item {
    width: 300px;
    height: 200px;
    margin: 50px 100px 20px 80px;
  }

  .container__item-header h1 {
    font-size: 30px !important;
    left: -50%;
  }

  .container__item h1 {
    font-size: 40px;
    bottom: -20px;
  }
}
