@import url("https://fonts.googleapis.com/css2?family=Jura&family=Krona+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: $dark;
}
/* menu */
nav {
  position: fixed !important;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.menu__logo,
.menu__items-link {
  padding: 40px;
}

.menu__logo a {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}

.menu__items {
  display: flex;
}

.menu__items-link a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

.menu__items-link.active a {
  text-decoration: underline;
}

/* horizontal scroll items  */

.container {
  margin-top: 200px;
  margin-left: 200px;
}

.container__item {
  position: relative;
  width: 540px;
  height: 360px;
  margin: 50px 500px 20px 80px;
}

.container__item-header h1 {
  position: relative;
  top: 40px;
  left: 0;
  right: 0;
  width: 600px;
  height: 360px;
  font-size: 100px !important;
}

.container__item h1 {
  position: absolute;
  color: #fff;
  font-family: "Jura", sans-serif;
  font-weight: lighter;
  font-size: 64px;
}

.container__item-title a {
  color: #fff;
  text-decoration: none;
}

.container__item-1 {
  background: url(/assets/images/img-one.jpeg) no-repeat 50% 50%;
  background-size: cover;
}

.container__item-2 {
  background: url(/assets/images/img-two.jpeg) no-repeat 50% 50%;
  background-size: cover;
}

.container__item-3 {
  background: url(/assets/images/img-three.jpeg) no-repeat 50% 50%;
  background-size: cover;
}

.container__item-4 {
  background: url(/assets/images/img-four.jpeg) no-repeat 50% 50%;
  background-size: cover;
}

.container__item-5 {
  background: url(/assets/images/img-five.jpeg) no-repeat 50% 50%;
  background-size: cover;
}
.container__item-1 h1,
.container__item-3 h1,
.container__item-5 h1 {
  bottom: 0;
  right: -60px;
}
.container__item-2 h1,
.container__item-4 h1 {
  right: -60px;
}
@media (max-width: 900px) {
  .container__item {
    width: 300px;
    height: 200px;
    margin: 50px 100px 20px 80px;
  }

  .container__item-header h1 {
    font-size: 30px !important;
    left: -50%;
  }

  .container__item h1 {
    font-size: 40px;
    bottom: -20px;
  }
}
