@import url("https://fonts.googleapis.com/css2?family=Jura&family=Krona+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: black;
}
/* menu */
nav {
  position: fixed !important;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.menu__logo,
.menu__items-link {
  padding: 40px;
  a {
    font-family: "Jura", sans-serif;
  }
}
@media screen and (max-width: 330px) {
  .menu__logo,
  .menu__items-link {
    padding: 30px 20px;
  }
}
.menu__logo a {
  color: #fff;
  font-size: 1.1em;
  font-weight: bolder;
  text-decoration: none;
  text-shadow: 0.05em 0 0 rgba(175, 226, 236, 0.75),
    -0.025em -0.05em 0 rgba(193, 170, 109, 0.75),
    0.025em 0.05em 0 rgba(145, 128, 240, 0.75);
}
a {
  transition: all 0.3s ease;
  &:hover {
    text-shadow: 0.05em 0 0 rgba(224, 255, 255, 0.75),
      -0.025em -0.05em 0 rgba(144, 238, 144, 0.75),
      0.025em 0.05em 0 rgba(145, 128, 240, 0.75);
    transition: all 0.3s ease;
  }
}

.menu__items {
  display: flex;
}

.menu__items-link a {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
}

.menu__items-link.active a {
  text-decoration: underline;
}
